.voice-input-container {
  margin: 0 auto;
  border-right: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.input-form-container {
  margin: 0 auto;
  border-right: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  justify-content: center;
}

.response-options-container {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.transcript {
  white-space: pre-wrap;
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 20px;
  font-family: monospace;
}

.campaign-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.campaign-button:hover {
  background-color: #0056b3;
}

.record-symbol {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #ff0000;
}

.text-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  cursor: pointer;
}

.text-button:hover {
  background-color: #f0f0f0;
}

.large-input {
  width: 95%; 
  height: 100px;
  padding: 10px; 
  font-size: 16px; 
  overflow-y: auto; 
}

.form-button-container {
  display: flex;
  justify-content: center;
}
.form-button {
  margin-right: 10px;
}

.record-button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

.record-button img {
  width: 24px;
  height: 24px;
}