/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 100%;
}

.header-title {
  text-align: center;
  flex-grow: 1;
}

.logout-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* Add margin to the right */
}

.logout-button:hover {
  background-color: #0056b3;
}

.app-main {
  display: flex;
  flex-direction: column;
  height:100vh;
  background-color: #f0f0f0;
}



